# Taxi Data SQL Queries

This notebook contains SQL queries for analyzing Chicago taxi data.

In [ ]:
-- Task 1: Which 10 companies make the most money?
-- Show company name and sum of fare (not in scientific notation)
-- Sort by total fare in descending order

SELECT 
    company,
    CAST(SUM(fare) AS DECIMAL(15,2)) AS total_fare
FROM taxi_trips
WHERE company IS NOT NULL
GROUP BY company
ORDER BY total_fare DESC
LIMIT 10;

In [ ]:
-- Task 2: Top 10 pickup community areas with the most rides
-- Show community area name and count of rides
-- Sort by ride count in descending order

SELECT 
    pickup_community_area,
    COUNT(*) AS ride_count
FROM taxi_trips
WHERE pickup_community_area IS NOT NULL
GROUP BY pickup_community_area
ORDER BY ride_count DESC
LIMIT 10;

In [ ]:
-- Task 3: Count taxi rides per day of the week
-- Show day of week by name and count of rides
-- Order by actual weekday order (starting from Monday)

SELECT 
    CASE EXTRACT(dow FROM trip_start_timestamp)
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
        WHEN 0 THEN 'Sunday'
    END AS day_of_week,
    COUNT(*) AS ride_count
FROM taxi_trips
WHERE trip_start_timestamp IS NOT NULL
GROUP BY EXTRACT(dow FROM trip_start_timestamp)
ORDER BY 
    CASE EXTRACT(dow FROM trip_start_timestamp)
        WHEN 1 THEN 1
        WHEN 2 THEN 2
        WHEN 3 THEN 3
        WHEN 4 THEN 4
        WHEN 5 THEN 5
        WHEN 6 THEN 6
        WHEN 0 THEN 7
    END;